h4 {
    color: #a7a0a0;
    margin-left: 20px;
}
.h1_level{
    display: table;
}
.h1_level img,
.h1_level h1 {
  display: table-cell;
    vertical-align: middle;
}
.h1_level_rooms h1{
    margin-left: 70px;
}